

body{
    margin: 0;
    padding: 0; 
    background-color: slategray;  
      
}

.all{
    background-image:url("img/bh.png");
    background-size: cover;
    background-position: center;
    max-width: 800px;
    border-top: 15px solid #570808;
    border-bottom: 25px solid #570808;
    border-left: 7px solid slategray;
    border-left: 7px solid slategray;
    margin: auto;
    height: 100vh;
    border-radius: 5px;
    box-sizing: border-box;
}



/* site navigation */

.site-nav{
    overflow: hidden;
}

/* transform and transition properties to create animation */

.site-nav .navWrap{
    display: flex;
    justify-content: space-between;
    padding-left: 3px;
    background-color: #000;
    opacity: 0;
    transform: translateY(-100%);
    transition: 2s;
}

.all:hover .navWrap{
    transform: translateY(0%);
    transition: 2s;
    opacity: .8;
}

nav ul{
    display: flex;
    padding: 0;
    overflow: hidden;
}

.site-nav li{
    list-style: none;
    padding: 3px;

}


.site-nav a{
    display: block;
    text-decoration: none;
    background-color: lightgrey;
    padding: 2px 5px;
    border-radius: 2px 10px;
    color: #000;
    border: 2px solid maroon;
    box-shadow: 3px 2px 2px rgba(0, 0, 0, .8);
   
}

.site-nav a:hover{
    background-color: snow;
    transform: translate(1px, 1px) skew(3deg) scale(1.01);
    transition: .5s;
}


/* end site navigation */


.main p{
   margin-left: 10px;
   width: 140px;
   font-family: fantasy;
   font-weight: bolder;
   color: rgb(199, 43, 43);
   text-shadow: 1px 1px 1px #000000;  
}

.address p{
    width: 80px;
}










