

body{
    margin: 0;
    padding: 0;
    background-image:url("img/bh.png"); 
    
}
header{
   max-width: 100%;
   border: 1px solid black;
   
}
h1{
    color: maroon;
    margin: 0;
    padding: 20px; 
    background-color: lightslategray ;
} 
   


h3{
    font-family: cursive;
    text-align: center;
}

p{
    font-size: 90%;
}   

.all{
    max-width: 90%;
    margin: auto;
    padding-bottom: 10px;
}

.row1{
    margin-top: 15px;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
}
img{
    max-width: 95%;
    
}

p{
    margin: 0;
    
}

.col1{
   flex: 2;
}

.col2{
   flex: 1;
 
}

.col3{ 
    flex: 1;
}

.row2{
    margin-top: 20px;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
}


.col4{
   flex: 1;
}

.col5{
   flex: 1;
    
}

.row3{
    margin-top: 20px;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
}

.col6{
   flex: 1;
}
.col7{
   flex: 1;
}

.row4{
    margin-top: 20px;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
}
.col8{
   flex: 1;
}

.col9{
    flex: 1;
}

.row5{
    margin-top: 20px;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
}
.col10{
   flex: 1;
}

.col11{
    flex: 1;
}

.row6{
    margin-top: 20px;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
}
.col12{
   flex: 1;
}

.col13{
    flex: 1;
}


@media  screen and (max-width: 480px) {
    .row1,
    .row2,
    .row3,
    .row4,
    .row5,
    .row6
    {
        display: block;
    }
    .all{
        max-width: 98%;
    }
}


.home a{
    padding: 3px 10px;
    margin: 10px;
    color: blue;
}
.home a:hover{
    background-color: silver;
    border-radius: 3px;
}

footer{
    margin:10px 10px;
    padding: 3px;
    background-color: lightgrey;
}

.foot{
    font-size: 80%;
}


