body {
    margin: 0;
    padding: 0;
    background-image: url("img/bh.png");

}

header {
    max-width: 100%;
    border: 1px solid black;

}

h1 {
    color: maroon;
    margin: 0;
    padding: 20px;
    background-color: lightslategray;
}



h3 {
    font-family: cursive;
    text-align: center;
}

p {
    font-size: 90%;
    padding: 5px;
}

.all {
    max-width: 95%;
    margin: auto;
    padding-bottom: 10px;
}


img {
    max-width: 95%;

}

video {
    max-width: 95%;
}

p {
    margin: 0;

}

/* display grid. Simpler than flex, additional flex rules not needed */

.row1 {
    margin-top: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    text-align: center;
}

.col1 {
    display: grid;
}

.col1 img {
    max-width: 100%;
    grid-column: 1;
    /* or 1 / 2; 1 / -4*/
    grid-row: 1;
}

.row2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    text-align: center;
}

.col4 {
    display: grid;
}

.col4 img {
    max-width: 100%;
    grid-column: 1;
    /* or 1 / 2; 1 / -4*/
    grid-row: 1;
}


.row3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    text-align: center;
}


.row4 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    text-align: center;
}



.col8 {
    display: grid;
}

.col8 img {
    max-width: 100%;
    grid-column: 1;
    /* or 1 / 2; 1 / -4*/
    grid-row: 1;
}


.row5 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    text-align: center;
}

.col10 {
    display: grid;
}

.col10 img {
    max-width: 100%;
    grid-column: 1;
    /* or 1 / 2; 1 / -4*/
    grid-row: 1;
}



.row6 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    text-align: center;
}

.col12 {
    display: grid;
}

.col12 img {
    max-width: 100%;
    grid-column: 1;
    /* or 1 / 2; 1 / -4*/
    grid-row: 1;
}

@media screen and (max-width: 600px) {

    .row1,
    .row2,
    .row3,
    .row4,
    .row5,
    .row6 {
        display: block;
    }

    .all {
        max-width: 98%;
    }

    .col1 img,
    .col4 img,
    .col8 img,
    .col10 img,
    .col12 img {
        max-width: 95%;
        margin-left: auto;
        margin-right: auto;
    }


}